body {
	width: 100%;
	font: 80% verdana, arial, sans-serif;
}

#logo {
	float: left;
	margin-left: 20px;
	width: 100px;
	height: 100px;
	text-align: center;
	background: #eed2ee;
	border-radius: 10px;
}

img {
	width: 100px;
	height: 100px;
}

#entete {
	margin-left: 140px;
	width: 660px;
	height: 100px;
	background: #eed2ee;
	text-align: center;
	border-radius: 10px;
}

h1 {
	padding-top: 30px;
}